<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>View from the RA</title>
		<link  rel='stylesheet' href='style.css' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>

	<body class="ra">
	<svg class="header-svg" id="ra-svg" viewbox="0 0 100 50" width="100" height="50">
  <defs>
    <mask id="mask-header" x="0" y="0" width="100" height="50">
      <rect x="0" y="0" width="100" height="50" fill="#fff"/>
      <text x="50" text-anchor="middle" y="25" dy="0">#ViewFromTheRA
         <animate
            attributeName = "y"
            from          = "25"
            to            = "10"
            begin         = "2.5s"
            dur           = "1s"
            fill          = "freeze"
    />
</text>
    </mask>
  </defs>
  <rect class="svg-rect" x="0" y="0" width="100" height="50" mask="url(#mask-header)" fill-opacity="0" fill="hsla(1,100%, 100%, 1)"/>
</svg>
<p>I work at the RA take amateur pictures of what goes on and share here and on <a href="https://www.instagram.com/mikemjharris/" target="_blank">instagram</a></p>


		<svg class="svg-mask">
			<defs>
			<mask>
			<linearGradient id="grad" gradientUnits="objectBoundingBox" x2="0" y2="1">
			<stop stop-color="white" offset="0"/>
			<stop stop-color="white" offset="1"stop-opacity="0.5" />
			<stop stop-color="white" stop-opacity="1" offset="1"/>
			</linearGradient>
			</defs>
		</svg>
	<div class="gallery-container">
		<% for (var i=0; i < images.length; i++) { %>
		<a href="https://www.instagram.com/p/<%= images[i].shortcode %>" target="_blank">
			<svg class="masked-element" width="200" height="200" viewBox="0 0 200 200">
				<defs>
				<mask id="mask<%= i %>" >
					<rect x="10" y="10" width="180px" height="180px" fill="url(#grad)" stroke-width="20"  stroke="white"/>
				</mask>
			</defs>
      <image alt="<%= images[i].edge_media_to_caption.edges[0].node.text %>" xlink:href="<%= images[i].thumbnail_src %>" width="200" height="200" mask="url(#mask<%= i %>)" />
			</svg>
		</a>
		<% } %>
	</div>

	</body>

</html>
